@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wight@400;600&display=swap');
@import url(reset.css);
@import url(styles/light.css);
@import url(styles/home.css);

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;

    --font-principal: 'Krona One', sans-serif;
    --font-secundaria:'Montserrat', sans-serif ; 
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
    
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}
.container {
    display: none;
}
.cabecalho__menu__link, .cabecalho__menu__link2{
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.cabecalho__menu__link:hover, .cabecalho__menu__link2:hover {
    color: var(--cor-secundaria);
}

.foto-de-perfil {
    width: 50%;
    border-radius: 5%;
}

.rodape {
    padding: 20px;
    background-color: var(--cor-terciaria);
    text-align: center;
    font-weight: 400;
    font-family: var(--font-secundaria);
    font-size: 1rem;
    color: var(--cor-primaria);
}



@media (max-width: 1300px) {
    .cabecalho {
        padding: 2rem;
        background-color: var(--cor-primaria);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .container {
        display: flex;
        align-items: center;
        background-color: var(--cor-terciaria);
        border-radius: 8px;
    }

    .cabecalho__menu{
        justify-content: center;
        padding: 0 2rem;
    }
    
    .lista-menu {
        display: none;
        position: absolute;
        top: 100%;
        width: 60vw;
        font-family: var(--font-secundaria);
        border-radius: 8px;
    }
    
    .container__botao:checked ~ .lista-menu {
        display:block;
    }
    
    .lista-menu__titulo, .lista-menu__item {
        padding: 1em;
        background-color: var(--cor-hover);
        margin: 0;
        
    }
    
    .lista-menu__titulo {
        color: var(--cor-secundaria);
        font-weight: 700;
    }
    
    .lista-menu__link {
        background: var(--cor-terciaria);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    
    .container__botao, .container__titulo, .opções, .container__texto, .cabecalho__menu__link2 {
        display: none;
    }
}
