.apresentacao {
    padding:  2.5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--font-principal);
}

.titulo-destaque {
    color: var(--cor-terciaria);
    font-weight: bold;
}
.apresentacao__conteudo__texto {
    font-size: 1.25rem;
    font-family: var(--font-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--font-principal);
    font-weight: 600;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding:21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}

.apresentacao__links__navegacao:hover{
    background-color: var(--cor-hover);
}

@media (max-width: 1300px) { 
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }
    
    .cabecalho__hamburguer {
        width: 24px;
        height: 24px;
        background-image: url(../assets/Menu.png);
        display:inline-block;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .container__botao:checked ~ .container__rotulo > .cabecalho__hamburguer {
        background-image: url(../assets/Menu\ Aberto.svg);
    }
    .container__rotulo{
        padding: 0.5em;
    }
    .container__botao:checked ~ .container__rotulo{
        background: var(--cor-terciaria);
        border-radius: 8px;
        
    }
   
    .container__imagem{
        padding: 0.5em;
    }
}